/* SITE-WIDE COLOR PALETTE
#212529 - black;
#15344b - darkblue;
#377096 - blue;
#187cbf - lightblue;
#bdbbb9 - grey;
#5c7e10 - green;
#a4d007- lightgreen;
*/

/* Default class styles */
	body {
		background: linear-gradient(90deg, rgba(23,26,33,1) 10%, rgba(23,62,89,1) 25%, rgba(55,112,151,1) 50%, rgba(23,62,89,1) 75%, rgba(23,26,33,1) 90%); 
		font-family: 'Gugi', cursive;
	}
	#cartBody {
		height: 1000px;
	}
	#libraryBody {
		height: 1000px;
	}
	#productBody {
		height: 2000px;
	}			
	p {
		color: #212529;
		font-family: 'Gugi', cursive;
	}
	h1 {
		font-family: 'Gugi', cursive;
		font-size: 100px;
		color: #171a21;
		text-shadow: 1px 1px #bebcba;
	}
	#nameBar{
		color: white;
		padding: 5em;
		text-align: center;
		height: 200px;
	}  
	#spacer{
		padding:2em;
	}  
	#loginFields{
		float: right;
		padding: 2em;
		color: #bab8b6;
	}
	#logoutButton{
		float: left;
		padding: 2em;
		color: #bab8b6;
	}	

/* Links */
	a{
		color: #171a21;
		outline: 0;
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
	}

/* Navigation Bar */	  
	.navBar {
		background-color: #212529;
		height: 100px;
		padding: 5px;
	}
	.linkTags {
		width:282px;
		text-decoration:none;
		background-color: #377096;
		text-align: center;
		padding: 1.5em;
		border: solid 5px #15344b ;
		transition-duration: 0.4s;
	  }

	.navButton:hover {
		text-decoration:none;
		background-color: #187cbf;
		cursor: pointer;
	  }
	.navButton:active {
		text-decoration:none;
	  }
	.activeButton {
		background-color: #5c7e10;
	}  
	.activeButton:hover {
		background-color: #a4d007;
	}  	
 
/* StorePage Cards */ 
	#gameContainer{
		background-color: #15344b;
		border: solid 5px;
		padding-top: 2.5em;
		padding-left: 2.5em;
		padding-right: 2.5em;
	}
	.card-deck .card {
		min-height: 150px;
		min-width: 100px;
		background-color: #377096;
		-webkit-text-stroke-width: 0.2px;
		-webkit-text-stroke-color: #bdbbb9;
	}
	
/* StorePage Card Buttons*/
	.btn {
		background-color: #187cbf;
		text-align: center;
		
	}
	.btn:hover {
		background-color: #5c7e10;
	}

/* Library Cards */
	#LibraryGameContainer {
		padding: 10px;
		
	}
	.libraryDiv {
		border: 5px solid #212529;
		background-color: #377096;
		float: left;
		padding: 10px;
		margin-left: 45px;
		margin-bottom: 45px;
	}
	#libraryButtons {
		margin-left:60px;
	}
	
/* Game Personal Pages*/
	.leftContentDiv {
		border: 5px solid #212529;
		background-color: #15344b;
		padding: 10px;
	}

	.productPageBox {
		border: 5px solid #212529;
		background-color: #377096;
		padding: 10px;
	}

	.productPageHeader {
		text-align: center;
		text-shadow: 1px 1px #bebcba;		
	}

	.productTrailer {
		margin: 0 auto;
	}
	.productCarousel {
		border: solid 5px #212529;
	}

	.rightContentDiv {
		border: 5px solid #212529;
		background-color: #15344b;
		padding: 10px;
		width: 365px;
	}
	.sideboxGameCover {
		width:100%;
		display: block;
		margin:auto;
		margin-left:auto;

	}
	.list-group-item{
		background-color:#187cbf;
	}

	.productToCartBtn {
		width: 35%;
		margin: auto;
	}

	.sticky {
		position: fixed;
		width: 365px;
		top: 0;
		padding-top: 10px;
	}


	/*login field styling*/
	input[type="text"], textarea, input[type="password"] {
		background-color : #bdbbb9; 
	}
	input {
		width: 200px;
	}
	
	/*checkout table styling*/
	.checkout {
		background-color: #377096  ;
		border: solid;	
	}
	td {
		border-color:#15344b  !important;
		color: #bdbbb9;
	}
	#couponCodeText {
		color: #bdbbb9;
	}
	
	/* Current User Table */
	.currentUserText {
		color:#bdbbb9;
	}
	
	.invisible {
		visibility:hidden;
	}
	
	/* Extra Things */
	marquee {
		color: #212529;
		padding: 10px;
	}

	
	/* The Almighty Modal */
	.modal{
		display: none;
		position:fixed;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.4);
		padding:10px;
	}
	.modal p {
		text-align: center;
	}
	.modal-content{
		background-color:#bdbbb9;
		width: 30%;
		margin: auto;
		padding:10px;
	}