
html {
	height: 100%;
}	

body {
	background-color: #171a21 !important;
}
p {
	color: #eaeaea;
}
.navBar {
	background-color: #15344b;
	height: 100px;
	padding: 5px;
}
.navButton {
	background-color: #377096;
	text-align: center;
	padding: 1.5em;
	border: solid 5px;
	transition-duration: 0.4s;
}
.navButton:hover {
	background-color: #316282;
	background-color: #187cbf;
}
.navButton:active {
	background-color: #265575;
	background-color: #187cbf;
	background-color: #166499;
}
.contentDiv {
	background-color: #15344b;
	height: 275px;
	padding-top: 5px;
	border-top: solid 5px; 
}
#gameCoverImage {
	padding-top: 5px;
	padding-bottom: 1em;
	width: 75%;
}

