/* Default class styles */
	body {
		background-color: #171a21;
		background: linear-gradient(#15344b , #171a21, #15344b );
		background: url("../images/backgrounds/aXon3.jpg");
		
		background-repeat: repeat-x;
		background-size: cover;
		height: 2300px;
	}
	  
	p {
		color: #212529;
	}
	  
	#nameBar{
		color: white;
		padding: 5em;
		text-align: center;
		border: 5px solid;
		border-color: black;
		width: 400px;
		background-color: #15344b;
		background: url("../images/backgrounds/curiousity.gif");
		background-size: cover;
		margin: auto;
		border-radius: 15px 50px;
	}
	  
	#spacer{
		padding:2em;
	}
	  
	#loginFields{
		float: right;
		padding: 2em;
		color: red;
	}

/* Links */
	a{
		color: #171a21;
		text-decoration-style: none;
	}
	a:hover{
		text-decoration-style: none;
	}

/* Navigation Bar */	  
	.navBar {
		background-color: #15344b;
		height: 100px;
		padding: 5px;
	}
	.navButton {
		background-color: #377096;
		text-align: center;
		padding: 1.5em;
		border: solid 5px;
		transition-duration: 0.4s;
	  }
	.navButton:hover {
		background-color: #316282;
		background-color: #187cbf;
	  }
	.navButton:active {
		background-color: #265575;
		background-color: #187cbf;
		background-color: #166499;
	  }
 
/* StorePage Cards */ 
	#gameContainer{
		background-color: #15344b;
		border: solid 5px;
		padding-top: 2.5em;
		padding-left: 2.5em;
		padding-right: 2.5em;
	}
	.card-deck .card {
		min-height: 150px;
		min-width: 100px;
	}

/* Misc Styles (unsorted)*/		
	.blankSpace {
		background-color: #15344b;
		border: 0px;
		margin: auto;
	}
	.gameDescription{	
		background-color:grey;
		border: 20px solid #171a21;
		height: 200px;
	}
	.GameCarousel{	
		background-color:#c0c0c0;
		border: 20px solid #171a21;
		height: 400px;
	}
	.BasketList{	
		background-color:#c0c0c0;
		border: 20px solid #171a21;
		height: 500px;
	}